main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 20px;
}
.view, .workout, .newTemplate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}
.workout, .newTemplate {
    background-color: #E8F0F8;
    border: #2C3E50 solid 2px;
}
.hide {
    display: none;
}
.title {
    font-size: 36px;
    font-weight: 700;
    color: #2C3E50;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.quickStart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #E8F0F8;
    border: #2C3E50 solid 2px;
    border-radius: 10px;
}
.templates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #E8F0F8;
    border: #2C3E50 solid 2px;
    border-radius: 10px;
}
.templates-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}
.templates-down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    max-width: 1200px;
}
hr {
    width: 95%;
    height: 1.8px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2C3E50;
    border: none;
}
.qS-text, .t-text {
    color: #2C3E50;
    font-size: 30px;
    font-weight: 700;
}
.qS-button, .add-template {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #96B6C5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.myTemplates, .exampleTemplates {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.mT-text, .eT-text {
    color: #2C3E50;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}
.template-card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.template-card, #placeholderCard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: 208px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#placeholderCard {
    display: none;
}
.template-image {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100px;
    height: 100px;
}
.template-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2C3E50;
}
.more-info-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
}
.options-menu {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 999;
    padding:  2px 6px 6px 6px; 
    display: none;
    width: 60px;
}
.options-menu.show {
    display: block;
}
.options-menu.hide {
    display: none;
}
.menu-header {
    display: flex;
    justify-content: flex-end;
}
.close-menu {
    height: 16px;
    background: none;
    border: none;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding: 2px;
    margin-bottom: 5px;
}
.options-menu button {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    color: #333;
}
.template-content {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
    font-size: 1em;
}
.template-content li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.template-content li:before {
    content: "•";
    color: #b12b24;
    font-weight: bold;
    display: inline-block; 
    width: 20px;
    margin-left: -20px;
}
.topic-container, .template-topic-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.topic-input, .templateTopic-input {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 2px solid #96B6C5;
    border-radius: 5px;
    display: none;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.topic-input:focus, .templateTopic-input:focus {
    border-color: #526D82;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.topic-input.show, .templateTopic-input.show {
    display: inline-block;
}
.topic, .templateTopic {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: 900;
    margin-right: 10px;
}
.edit-icon, .calendar-icon, .camera-icon, .template-edit-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.add-button, .finish, .templateAdd, .templateSave {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #96B6C5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
dialog {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    width: 300px;
    max-width: 90%;
    margin: auto;
    position: relative;
}
.dialog-content {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #2c3e50;
}
.dialog-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.dialog-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #96B6C5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Lato", sans-serif !important;
}
.exercise-modal {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    width: 600px;
    max-width: 90%;
    height: 500px;
    margin: auto;
    position: relative;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
    background-color:#FFFFFF;
    border-radius: 6px 6px 0 0;
}
.close-button {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.modal-title {
    padding: 5px 10px;
    border: none;
    background-color: #96B6C5;
    color: #FFFFFF;
    cursor: not-allowed;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}
.modal-title:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}
.modal-title:not(:disabled) {
    cursor: pointer;
    background-color: #96B6C5;
}
.exercise-content {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    height: 430px;
    padding: 0 20px 20px 20px;
    text-align: center;
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}
#exerciseSearch {
    flex: 1;
    padding-right: 40px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #DDD;
    border-radius: 4px;
}
.search-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.filter-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #DDD;
    border-radius: 4px;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}
/* 滾動條樣式 */
.dropdown::-webkit-scrollbar, .exercise-list::-webkit-scrollbar, .info-dialog::-webkit-scrollbar {
    width: 8px;
}
.dropdown::-webkit-scrollbar-track, .exercise-list::-webkit-scrollbar-track, .info-dialog::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}
.dropdown::-webkit-scrollbar-thumb, .exercise-list::-webkit-scrollbar-thumb, .info-dialog::-webkit-scrollbar-thumb {
    background: #DDD;
    border-radius: 4px;
}
.dropdown::-webkit-scrollbar-thumb:hover, .exercise-list::-webkit-scrollbar-thumb:hover, .info-dialog::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC;
}
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}
.exercise-list {
    max-height: 300px;
    padding-top: 10px;
    overflow-y: auto;
}
.exercise-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dropdown-item.selected, .exercise-item.selected {
    background-color: #E0E0E0;
}
.exercise-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exercise-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.exercise-info {
    flex-grow: 1;
}
.exercise-name {
    font-size: 16px;
    font-weight: 500;
}
.exercise-body-part {
    font-size: 14px;
    color: #888;
}
.info-button {
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #888;
}
.no-results-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #666;
    font-size: 18px;
    font-weight: 500;
}
.hide {
    display: none;
}
.exercise {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.exercise-remove-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.exercise h3 {
    color: #007bff;
    font-size: 1.2rem;
    margin: 0 0 10px;
}
.exercise-table {
    width: 100%;
    min-width: 500px;
    min-height: 50px;
}
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.table-row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    background-color: #e9ecef;
    border-radius: 5px;
}
.cell {
    flex: 1;
    text-align: center;
}
.cell input[type="number"] {
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.check-btn, .delete-btn {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: #e9ecef;
    padding: 5px;
    transition: all 0.2s ease;
}
.check-btn img, .delete-btn img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
.shake {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.add-set {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 16px;
}
.info-dialog {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    width: 600px;
    max-width: 90%;
    margin: auto;
    position: relative;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dialog-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.instructions-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.dialog-content h3 {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
}
.dialog-content ol {
    align-self: flex-start;
    padding-left: 20px;
    text-align: left;
}
.dialog-content ol li {
    margin-bottom: 10px;
}
.dialog-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dialog-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}
.category-badge {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}
.info-dialog-close {
    font-size: 14px;
    cursor: pointer;
}
/* hover 效果 */
.qS-button, .add-template, .edit-icon, .calendar-icon, .camera-icon, .template-edit-icon, .add-button, .finish, .templateAdd, .templateSave, .dialog-buttons button,.close-button, .modal-title, .exercise-item, .check-btn, .delete-btn, .add-set, .exercise-remove-btn, .filter-button, .dropdown-item, .info-button, .template-card, #placeholderCard, .more-info-button, .options-menu button, .close-menu {
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.qS-button:hover, .add-template:hover, .edit-icon:hover, .calendar-icon:hover, .camera-icon:hover, .template-edit-icon:hover, .add-button:hover, .finish:hover, .templateAdd:hover, .templateSave:hover, .dialog-buttons button:hover,.close-button:hover, .modal-title:hover, .exercise-item:hover, .check-btn:hover, .delete-btn:hover, .add-set:hover, .exercise-remove-btn:hover, .filter-button:hover, .dropdown-item:hover, .info-button:hover, .template-card:hover, #placeholderCard:hover, .more-info-button:hover, .options-menu button:hover, .close-menu:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}
.qS-button:hover, .add-template:hover,.add-button:hover, .finish:hover, .templateAdd:hover, .templateSave:hover, .dialog-buttons button:hover, .modal-title:hover {
    background-color: #526D82;
}
.template-card:hover, #placeholderCard:hover {
    background-color: #F0F0F0;
}
.exercise-item:hover, .dropdown-item:hover, .options-menu button:hover {
    background-color: #F0F0F0;
    border-radius: 4px;
}
.check-btn:hover, .delete-btn:hover, .filter-button:hover {
    background-color: #dcdcdc;
}
.add-set:hover {
    text-decoration: underline;
}
.close-menu:hover {
    color: red;
}

@media (max-width: 768px) {
    .exercise-modal {
        width: 300px;
        max-width: 90%;
    }
}